# --- Python y Entornos ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env



# --- Datos (MUY IMPORTANTE) ---
*.csv
*.xlsx
*.xls
*.parquet
*.json
data/
datasets/

# --- Modelos entrenados ---
# Archivos de modelos persistidos
*.pkl
*.joblib
*.h5
*.model

# --- Aplicación Demo (Streamlit/Dashboard) ---
.streamlit/
# Si guardas sesiones o logs de la app
*.log

# --- IDEs y configuraciones ---
.vscode/
.idea/
.DS_Store
.history/

# --- Otros ---
# Carpetas de resultados de Optuna si las generas
optuna-study/
